In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('전처리 ver5.csv')

In [10]:
df

    시군구       스포츠        역사      자연힐링      문화예술        맛집
0   고령군  0.199261  0.982022  0.226923  0.337923  0.000000
1   해남군  0.276784  0.703288  0.470593  0.515284  0.000000
2   사하구  0.998684  0.086120  0.452713  0.739517  0.179535
3   보성군  0.147164  0.518944  1.101128  0.618244  0.059090
4   곡성군  0.257912  0.862163  0.020495  0.507587  0.000000
..  ...       ...       ...       ...       ...       ...
64  거제시  1.429258  0.563750  0.873035  0.379291  1.540627
65  진안군  0.111728  0.788030  0.814749  0.419833  0.000000
66  예천군  0.251843  0.866217  0.373077  0.379469  0.061326
67  합천군  0.169279  1.261250  0.388902  0.368017  0.000000
68  사천시  1.236694  0.435982  0.214075  0.331125  0.230245

[69 rows x 6 columns]

In [11]:
melted_df = df.melt(id_vars='시군구',value_vars=['스포츠','역사','자연힐링','문화예술','맛집'], var_name = '피벗 필드명', value_name = '피벗 필드값')

In [12]:
melted_df = melted_df.rename(columns={'시군구' : '지역'})

In [13]:
melted_df

      지역 피벗 필드명    피벗 필드값
0    고령군    스포츠  0.199261
1    해남군    스포츠  0.276784
2    사하구    스포츠  0.998684
3    보성군    스포츠  0.147164
4    곡성군    스포츠  0.257912
..   ...    ...       ...
340  거제시     맛집  1.540627
341  진안군     맛집  0.000000
342  예천군     맛집  0.061326
343  합천군     맛집  0.000000
344  사천시     맛집  0.230245

[345 rows x 3 columns]

In [14]:
melted_df.to_csv('피벗_ver5.csv', index=False)